.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .paperContainer {
    padding: 2rem;
  }
  
  .form {
    width: 100%;
  }
  
  .submitButton {
    margin-right: 1rem;
  }
  
  .signUpButton {
    width: 6rem;
  }
  