/* playSongListStyles.css */

.container {
    margin-top: 2rem;
  }
  
  .playlistHeader {
    display: flex;
    justify-content: space-between;
  }
  
  .backButton {
    height: 40px;
    margin-top: 16px;
  }
  
  .songCard {
    max-width: 345px;
  }
  
  .songImage {
    height: 200px;
  }
  
  .songTitle {
    margin-bottom: 8px;
  }
  
  .songArtist {
    font-size: 14px;
    color: #616161;
  }
  
  .audioControl {
    width: 100%;
  }
  