.container {
    display: flex;
    flex-direction: column;
  }
  
  .backButton {
    height: 40px;
    margin-top: 16px;
  }
  
  .playlistButton {
    margin-bottom: 80px;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 80px;
    margin-top: 20px;
  }
  
  .searchInput {
    height: 20px;
    font-size: 16px;
    padding: 8px;
  }
  
  .sortSelect {
    height: 40px;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .searchButton {
    margin-left: 8px;
  }
  
  .card {
    max-width: 345px;
  }
  
  .modalContainer {
    display: flex;
    justify-content: flex-end;
  }
  
  .logoutButton {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  