music-app/back-end/node_modules/.bin/conc
/home/calibraint/Desktop/react/music-playlist/music-app/back-end/node_modules
music-app/back-end/.env
/home/calibraint/Desktop/react/music-playlist/music-app/front-end/node_modules
music-app/back-end/node_modules/.package-lock.json
node_modules
music-app/front-end/package-lock.json